# Python
__pycache__/
*.py[cod]
*.pyo

# Environments
.venv/
venv/
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# FastAPI static files (if any)
static/
